# Probability

In [1]:
import pandas as pd

In [2]:
total_data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_Total.csv')
total_data

          prob         kl   entropy
0    -0.811730  11.324991 -4.458462
1    -0.079996  12.253328  0.312050
2    -0.873690  11.862528 -6.046141
3    -0.629521  12.853862 -4.754339
4    -0.086813   0.231026  0.206219
...        ...        ...       ...
4407 -0.689437  11.481072 -3.619538
4408 -0.738699  11.887397 -4.413545
4409 -0.063761  10.935291 -0.679931
4410 -0.670067  13.116758 -4.840611
4411 -0.840015  11.939545 -4.412962

[4412 rows x 3 columns]

In [3]:
pd.DataFrame(total_data.mean())

                 0
prob     -0.553152
kl       11.482063
entropy  -3.615316

In [4]:
positive_effect = total_data.loc[total_data['prob']>0].index
negative_effect = total_data.loc[total_data['prob']<0].index

In [5]:
print(len(positive_effect))
print(len(negative_effect))

492
3920

In [6]:
display(pd.DataFrame(total_data.iloc[positive_effect].mean()))
display(pd.DataFrame(total_data.iloc[negative_effect].mean()))

                0
prob     0.062302
kl       8.529364
entropy  0.671864

                 0
prob     -0.630398
kl       11.852657
entropy  -4.153401

# Train = False

In [7]:
data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_prob.csv') 
data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.060381,0.082839,0.082811,0.082170,0.082679,0.082653,0.083315,0.083898,0.083306,0.082382,0.081727,0.080323,0.079835,0.081359
1,0.254463,0.250577,0.250667,0.251486,0.252988,0.253417,0.255343,0.254152,0.251620,0.251582,0.250130,0.248992,0.249238,0.250277
2,0.054926,0.068459,0.068276,0.069872,0.070749,0.071137,0.071365,0.071080,0.070753,0.070218,0.069543,0.069232,0.068791,0.069287
3,0.054664,0.058539,0.058448,0.058224,0.059830,0.060297,0.060615,0.060505,0.059973,0.059615,0.058886,0.058892,0.058601,0.059521
4,0.131792,0.131748,0.137516,0.142053,0.145863,0.149304,0.152500,0.158400,0.167961,0.178200,0.189129,0.199885,0.211388,0.226331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.078260,0.114105,0.114170,0.115015,0.115078,0.115779,0.115050,0.114813,0.114443,0.114030,0.115063,0.114357,0.114031,0.115063
4408,0.154431,0.193971,0.194089,0.196389,0.196218,0.198884,0.199244,0.199334,0.197706,0.196997,0.196984,0.196348,0.195594,0.197732
4409,0.045767,0.054514,0.056512,0.058757,0.060130,0.060586,0.061371,0.061190,0.062027,0.061919,0.062281,0.062409,0.063080,0.063682
4410,0.323204,0.415390,0.416518,0.419535,0.420900,0.421011,0.421218,0.419461,0.420186,0.420402,0.422859,0.424291,0.426337,0.428794
4411,0.073940,0.111856,0.112122,0.113131,0.112954,0.113992,0.113287,0.113501,0.111879,0.110777,0.110412,0.109636,0.108990,0.110284

In [8]:
pd.DataFrame(data.mean(axis=0))

                 0
origin    0.171826
layer 0   0.192283
layer 1   0.192935
layer 2   0.194684
layer 3   0.195779
layer 4   0.197039
layer 5   0.198039
layer 6   0.198306
layer 7   0.198941
layer 8   0.199925
layer 9   0.201037
layer 10  0.202219
layer 11  0.203867
layer 12  0.205719

In [9]:
pd.DataFrame(data.loc[positive_effect].mean(axis=0))

                 0
origin    0.207207
layer 0   0.231444
layer 1   0.233537
layer 2   0.236100
layer 3   0.240015
layer 4   0.243542
layer 5   0.246547
layer 6   0.248602
layer 7   0.251201
layer 8   0.253406
layer 9   0.255705
layer 10  0.257792
layer 11  0.260352
layer 12  0.263117

In [10]:
pd.DataFrame(data.loc[negative_effect].mean(axis=0))

                 0
origin    0.167385
layer 0   0.187368
layer 1   0.187839
layer 2   0.189486
layer 3   0.190227
layer 4   0.191202
layer 5   0.191951
layer 6   0.191993
layer 7   0.192381
layer 8   0.193212
layer 9   0.194175
layer 10  0.195244
layer 11  0.196778
layer 12  0.198514

In [11]:
prob_data = pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_indiv_prob.csv') 
prob_data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.060381,0.082839,0.060376,0.059336,0.061277,0.060167,0.061392,0.060843,0.060118,0.059426,0.059900,0.059313,0.059827,0.061515
1,0.254463,0.250577,0.254490,0.255195,0.255763,0.254973,0.256483,0.252863,0.251621,0.254526,0.252968,0.253402,0.254498,0.255506
2,0.054926,0.068459,0.054769,0.056350,0.055641,0.055175,0.054970,0.054660,0.054567,0.054424,0.054426,0.054630,0.054642,0.055314
3,0.054664,0.058539,0.054629,0.054502,0.056011,0.055124,0.054958,0.054527,0.054211,0.054283,0.054018,0.054746,0.054410,0.055552
4,0.131792,0.131748,0.137570,0.136047,0.135221,0.134865,0.134548,0.136970,0.139980,0.140215,0.140248,0.139835,0.140110,0.142589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.078260,0.114105,0.078108,0.078474,0.078416,0.078596,0.077758,0.078101,0.077926,0.077750,0.078968,0.077760,0.078082,0.079026
4408,0.154431,0.193971,0.154291,0.156128,0.154207,0.156849,0.154732,0.154403,0.153048,0.153510,0.154390,0.153634,0.153809,0.156235
4409,0.045767,0.054514,0.045417,0.045384,0.045484,0.045487,0.045628,0.045353,0.045408,0.045816,0.045912,0.045289,0.045456,0.045640
4410,0.323204,0.415390,0.324032,0.324095,0.324808,0.323512,0.322479,0.320838,0.323393,0.322955,0.325220,0.324528,0.325034,0.325659
4411,0.073940,0.111856,0.073845,0.074384,0.073823,0.074538,0.073568,0.074162,0.072779,0.073100,0.073585,0.073316,0.073493,0.074898

In [12]:
display(pd.DataFrame(prob_data.mean(axis=0)))

                 0
origin    0.171826
layer 0   0.192283
layer 1   0.172054
layer 2   0.172864
layer 3   0.172884
layer 4   0.172948
layer 5   0.172764
layer 6   0.172004
layer 7   0.172275
layer 8   0.172578
layer 9   0.172615
layer 10  0.172630
layer 11  0.173072
layer 12  0.173231

In [13]:
display(pd.DataFrame(prob_data.loc[positive_effect].mean(axis=0)))

                 0
origin    0.207207
layer 0   0.231444
layer 1   0.208701
layer 2   0.208768
layer 3   0.210829
layer 4   0.210630
layer 5   0.210349
layer 6   0.209360
layer 7   0.209749
layer 8   0.209173
layer 9   0.209356
layer 10  0.208922
layer 11  0.209325
layer 12  0.209417

In [14]:
display(pd.DataFrame(prob_data.loc[negative_effect].mean(axis=0)))

                 0
origin    0.167385
layer 0   0.187368
layer 1   0.167454
layer 2   0.168357
layer 3   0.168122
layer 4   0.168218
layer 5   0.168047
layer 6   0.167316
layer 7   0.167572
layer 8   0.167985
layer 9   0.168003
layer 10  0.168075
layer 11  0.168522
layer 12  0.168689

In [15]:
import os
os.getcwd()

'/data1/sjlee/NLP/Experiment7'

In [16]:
display(pd.read_csv('./dataset/intervention_data/gpt2_train=False_edit_accuracy__prob.csv'))

    total_stacked  pos_stacked  neg_stacked  total_indiv  pos_indiv  neg_indiv
0        0.060517     0.156504     0.048469     0.060517   0.156504   0.048469
1        0.045331     0.140244     0.033418     0.045331   0.140244   0.033418
2        0.043971     0.132114     0.032908     0.058930   0.154472   0.046939
3        0.042611     0.130081     0.031633     0.058704   0.156504   0.046429
4        0.042158     0.130081     0.031122     0.059157   0.154472   0.047194
5        0.042158     0.130081     0.031122     0.059157   0.154472   0.047194
6        0.041478     0.128049     0.030612     0.059383   0.154472   0.047449
7        0.041251     0.126016     0.030612     0.059383   0.154472   0.047449
8        0.041251     0.123984     0.030867     0.059383   0.154472   0.047449
9        0.040118     0.115854     0.030612     0.058477   0.154472   0.046429
10       0.039211     0.111789     0.030102     0.058930   0.154472   0.046939
11       0.038305     0.103659     0.030102     0.058477   0.154472   0.046429
12       0.037625     0.097561     0.030102     0.058704   0.156504   0.046429
13       0.036945     0.095528     0.029592     0.059610   0.156504   0.047449

# Train=True

In [17]:
total_data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_Total.csv')
total_data

          prob        kl   entropy
0     0.146471  4.069785  6.057753
1     0.424571  7.348496  6.174748
2     0.992279  9.834436  9.314149
3     0.148583  6.131197  5.689916
4     0.367218  0.316818  1.718099
...        ...       ...       ...
4407  0.466487  5.844389  8.094136
4408  0.512915  5.370334  7.713697
4409  0.380489  8.613902  6.744452
4410  0.487833  7.254220  6.955940
4411  0.115202  3.830449  5.656858

[4412 rows x 3 columns]

In [18]:
pd.DataFrame(total_data.mean())

                0
prob     0.449066
kl       6.103899
entropy  6.316039

In [19]:
positive_effect = total_data.loc[total_data['prob']>0].index
negative_effect = total_data.loc[total_data['prob']<0].index

In [20]:
print(len(positive_effect))
print(len(negative_effect))

4278
134

In [21]:
pd.DataFrame(total_data.iloc[positive_effect].mean())

                0
prob     0.466258
kl       6.204546
entropy  6.494847

In [22]:
pd.DataFrame(total_data.iloc[negative_effect].mean())

                0
prob    -0.099803
kl       2.890695
entropy  0.607537

In [23]:
data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_prob.csv') 
data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.151096,0.152429,0.152317,0.152317,0.152426,0.152480,0.152460,0.152632,0.152581,0.152594,0.152705,0.152701,0.152633,0.152656
1,0.441099,0.447970,0.447959,0.447035,0.446021,0.446288,0.446116,0.445452,0.444879,0.445154,0.445125,0.444388,0.445428,0.444685
2,0.999650,0.999748,0.999755,0.999760,0.999766,0.999773,0.999780,0.999785,0.999789,0.999795,0.999799,0.999803,0.999806,0.999807
3,0.178396,0.179607,0.180145,0.180498,0.180755,0.181100,0.181014,0.180700,0.180559,0.180648,0.180756,0.180588,0.180619,0.180516
4,0.702637,0.702628,0.705069,0.708229,0.712153,0.716130,0.720342,0.724767,0.729408,0.734300,0.739206,0.743890,0.748757,0.752262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.475619,0.466756,0.466407,0.465908,0.466099,0.465991,0.465583,0.465295,0.464594,0.463618,0.463686,0.463348,0.463469,0.463914
4408,0.518963,0.508495,0.507839,0.507079,0.507822,0.508199,0.507923,0.508468,0.509961,0.510161,0.511910,0.512649,0.512780,0.512927
4409,0.435542,0.459493,0.460550,0.461668,0.462265,0.461933,0.462180,0.462051,0.461520,0.460492,0.459698,0.459165,0.458940,0.458988
4410,0.500783,0.491722,0.490599,0.489960,0.489142,0.488378,0.488064,0.487233,0.487442,0.487707,0.487105,0.487158,0.486940,0.487391
4411,0.120001,0.121479,0.121550,0.121603,0.121457,0.121579,0.121812,0.122013,0.122410,0.122949,0.123234,0.123445,0.123822,0.124149

In [24]:
display(pd.DataFrame(data.mean(axis=0)))

                 0
origin    0.488085
layer 0   0.488834
layer 1   0.488943
layer 2   0.488989
layer 3   0.489071
layer 4   0.489224
layer 5   0.489334
layer 6   0.489442
layer 7   0.489571
layer 8   0.489716
layer 9   0.489871
layer 10  0.490081
layer 11  0.490354
layer 12  0.490664

In [25]:
pd.DataFrame(data.loc[positive_effect].mean(axis=0))

                 0
origin    0.498231
layer 0   0.499006
layer 1   0.499089
layer 2   0.499099
layer 3   0.499140
layer 4   0.499253
layer 5   0.499320
layer 6   0.499382
layer 7   0.499462
layer 8   0.499556
layer 9   0.499649
layer 10  0.499787
layer 11  0.499989
layer 12  0.500251

In [26]:
pd.DataFrame(data.loc[negative_effect].mean(axis=0))

                 0
origin    0.164195
layer 0   0.164094
layer 1   0.165035
layer 2   0.166224
layer 3   0.167606
layer 4   0.169040
layer 5   0.170525
layer 6   0.172109
layer 7   0.173795
layer 8   0.175576
layer 9   0.177722
layer 10  0.180236
layer 11  0.182734
layer 12  0.184610

In [27]:
prob_data = pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_indiv_prob.csv') 
prob_data

,origin,layer 0,layer 1,layer 2,layer 3,layer 4,layer 5,layer 6,layer 7,layer 8,layer 9,layer 10,layer 11,layer 12
0,0.151096,0.152429,0.151010,0.151079,0.151219,0.151155,0.151009,0.151216,0.151078,0.151151,0.151193,0.151081,0.151058,0.151121
1,0.441099,0.447970,0.441261,0.440387,0.440222,0.441384,0.441277,0.440472,0.440688,0.441526,0.441222,0.440546,0.442155,0.440417
2,0.999650,0.999748,0.999666,0.999656,0.999658,0.999663,0.999663,0.999659,0.999658,0.999661,0.999658,0.999655,0.999655,0.999652
3,0.178396,0.179607,0.178887,0.178793,0.178565,0.178778,0.178308,0.178013,0.178246,0.178447,0.178504,0.178209,0.178376,0.178230
4,0.702637,0.702628,0.705083,0.705894,0.706582,0.706714,0.706982,0.707249,0.707589,0.707851,0.707912,0.707598,0.707973,0.706522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4407,0.475619,0.466756,0.475408,0.475173,0.475892,0.475507,0.475377,0.475194,0.475141,0.474660,0.475592,0.475297,0.475756,0.476070
4408,0.518963,0.508495,0.518397,0.518448,0.519661,0.519400,0.518878,0.519495,0.520658,0.519267,0.520835,0.519769,0.519268,0.519175
4409,0.435542,0.459493,0.436381,0.436370,0.435958,0.435354,0.435741,0.435199,0.435204,0.434452,0.434780,0.435113,0.435311,0.435630
4410,0.500783,0.491722,0.499479,0.500191,0.500095,0.500038,0.500436,0.499975,0.501013,0.501079,0.500321,0.500862,0.500579,0.501247
4411,0.120001,0.121479,0.120113,0.120079,0.119874,0.120165,0.120274,0.120206,0.120458,0.120548,0.120275,0.120287,0.120362,0.120340

In [28]:
pd.DataFrame(prob_data.mean(axis=0))

                 0
origin    0.488085
layer 0   0.488834
layer 1   0.488233
layer 2   0.488169
layer 3   0.488202
layer 4   0.488273
layer 5   0.488231
layer 6   0.488229
layer 7   0.488250
layer 8   0.488267
layer 9   0.488264
layer 10  0.488304
layer 11  0.488359
layer 12  0.488388

In [29]:
pd.DataFrame(prob_data.loc[positive_effect].mean(axis=0))

                 0
origin    0.498231
layer 0   0.499006
layer 1   0.498352
layer 2   0.498279
layer 3   0.498308
layer 4   0.498380
layer 5   0.498337
layer 6   0.498333
layer 7   0.498352
layer 8   0.498369
layer 9   0.498361
layer 10  0.498402
layer 11  0.498458
layer 12  0.498504

In [30]:
pd.DataFrame(prob_data.loc[negative_effect].mean(axis=0))

                 0
origin    0.164195
layer 0   0.164094
layer 1   0.165165
layer 2   0.165393
layer 3   0.165579
layer 4   0.165599
layer 5   0.165600
layer 6   0.165653
layer 7   0.165745
layer 8   0.165764
layer 9   0.165926
layer 10  0.165945
layer 11  0.165934
layer 12  0.165446

In [31]:
display(pd.read_csv('./dataset/intervention_data/gpt2_train=True_edit_accuracy__prob.csv'))

    total_stacked  pos_stacked  neg_stacked  total_indiv  pos_indiv  neg_indiv
0        0.420444     0.431744     0.059701     0.420444   0.431744   0.059701
1        0.421124     0.431978     0.074627     0.421124   0.431978   0.074627
2        0.421124     0.431978     0.074627     0.420671   0.431744   0.067164
3        0.421124     0.431978     0.074627     0.420444   0.431744   0.059701
4        0.421124     0.431978     0.074627     0.420218   0.431744   0.052239
5        0.420898     0.431978     0.067164     0.420444   0.431978   0.052239
6        0.420898     0.431978     0.067164     0.420444   0.431744   0.059701
7        0.420898     0.431978     0.067164     0.420218   0.431744   0.052239
8        0.421124     0.432211     0.067164     0.420671   0.431978   0.059701
9        0.421351     0.432211     0.074627     0.420444   0.431978   0.052239
10       0.421124     0.431978     0.074627     0.420671   0.431744   0.067164
11       0.421351     0.432211     0.074627     0.420444   0.431744   0.059701
12       0.421124     0.431978     0.074627     0.420671   0.431978   0.059701
13       0.421351     0.432211     0.074627     0.420444   0.431744   0.059701